version: '3.9'

services:
  api:
    build:
      context: .
      target: dev
    container_name: notification-api
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis
  postgres:
    image: postgres:16-alpine
    container_name: notification-postgres
    environment:
      POSTGRES_USER: notifications
      POSTGRES_PASSWORD: notifications
      POSTGRES_DB: notifications
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    container_name: notification-redis
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'

volumes:
  postgres_data:
  redis_data:
